.cardsContainer{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 18em;
}

.Landing section{
    border-bottom: 2px dotted var(--moradoOscuro);
    padding: 4em 0;
}